* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signUpButton {
  background-color: #f45679;
  outline-color: aliceblue;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.bgColor {
  background-color: #e4ebf1;
  border-radius: 12px;
}

.loginButton {
  background-color: #f45679;
  color: white;
  height: 2.6em;
  outline: none;
  border: none;
}

.form-control {
  height: 2.6em !important;
  background-color: rgb(240, 238, 238) !important;
  border: none !important;
  border-radius: 6px !important;
}

.form-control:focus {
  height: 2.6em !important;
  background-color: rgb(240, 238, 238) !important;
  border: none !important;
  border-radius: 6px !important;
}
