nav {
  margin-bottom: 200px;
}
#nav_button:hover {
  color: white !important;
}

@media only screen and (max-width: 480px) {
  form {
    justify-content: space-around;
  }
}

.navBgColor {
  background-color: #f45679 !important;
}
